.simple-action{
    color: var(--color-secundary);
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.simple-action.-light {
    color: var(--text-color);
    font-family: 'Bitter', serif;
    opacity: 0.4;
}