.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	/* align-items centraliza os itens verticalmente, e o justify-content horizontalmente.
	Porem, ao modificar o flex-direction de row pra column, todo o eixo da caixa eh rotacionado,
	fazendo com que as propriedades atuem no sentido contrario!!*/
    height: 80vh;
}

.main-section > .simple-title {
    font-size: 21px;
    line-height: 29px;
    margin-bottom: var(--gap-smaller);
}

.main-section > .simple-subtitle {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: var(--gap-big);
}

.main-section > .primary-button.-dark {
    font-size: 15px;
    width: 180px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin-bottom: var(--gap-smaller);
}

.main-section > .simple-action.-light {
    font-size: 15px;
    width: 180px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}